<%= render 'shared/page_title', title: "Usuarios" %>

<div align="center" style="margin-left:500px;">
  <% @users.each do |user| %>
    <ul class="listing">
      <div class="row">
        <div class="well col-6 col-md-4 user_index_">
          <li><%= link_to gravatar_for(user), user_path(user) %></li>
          <li class="chef-title"><%= link_to user.username.capitalize, user_path(user) %></li>
          <li><small><%= pluralize(user.articles.count, "Artigos") if user.articles %>
          <% if logged_in? and current_user.admin? && !user.admin %>
            <li>
              <%= link_to "Deletar o usuário", user_path(user), data: {turbo_method: :delete, turbo_confirm: 'Voce deseja deletar todos os artigos e esse usuario ?' } %></li>
          <%end%>
            </small></li>
        </div>
      </div>
    </ul>      
  <% end %>
</div>